<!DOCTYPE html>
<head>
  <title>List a space</title>
  <link rel="stylesheet" type="text/css" href="<%= url("/check_request.css")%>">
  <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
</head>
<body>

  <div id='header'>
    <div id='logo'>
    </div>
    <h1> MakersBnB </h1>
  </div>

  <%# navbar %>
  <nav> 
   <a href="/home" id='home'><i class="fas fa-home"></i> Home</a>
    <div id="nav-links-a">
      <a href="/check_request">Check Request</a> |
      <a href="/update_booking">Update Space</a> |
      <a href="/">Logout</a><i class="fas fa-user"></i>
    </div>
  </nav>

  <div id="list-container">

    <h2 id='change-av-title'> Change availability below </h2>

    <% @dates.zip(@checked_availability).each do |date, available| %>

    <div id='date-btn'>

      <p id='date'><%= date %></p> - <span><%= available %></span>
      <div id='buttons'>
        <form action = '/change_listing_days_unavailable/<%= date %>' method='get'> 
          <input type='submit' value='Set Unavailable' id='unavailable'>
        </form>
        <form action = '/change_listing_days_available/<%= date %>' method='get'> 
          <input type='submit' value='Available' id='available'>
        </form>
      </div>
    </div>

    <%end%> 

  </div>
</body>