<!DOCTYPE html>
<head>
  <link href="<%= url('/check_request.css') %>" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id='header'>
    <div id='logo'>
    </div>
    <h1>MakersBnB</h1>
  </div>

  <nav>
    <a href="/home" id='home'><i class="fas fa-home"></i> Home</a>
    <div id='nav-links'>
      <a href="/list_a_space">List a Space</a> |
      <a href="/">Logout</a><i class="fas fa-user"></i>
    <div>
  </nav>

  <h2>Current Booking Requests:</h2> 
  
  <div id='booking-requests'>
    <% @booked_dates.zip(@approved_array).each do |date, approval_status| %>
      
      <% if  approval_status == 'pending' %>
      <div id='pend-btn-container'>
      <%# add list of all spaces and images %>
        <div id='pending'><div id='space-img'></div> Request <%= date[2] %>, <%= date[0] %> <%= date[1] %></div>

        <form action='/check_request/approve/<%= date[2] %>' method='get'>
          <input type='submit' value='Approve' id='app-btn'>
        </form>
        <form action='/check_request/disapprove/<%= date[2] %>' method='get'>
          <input type='submit' value='Disapprove' id='dis-btn'>
        </form>
      </div>
    
      <% elsif (approval_status == true) && (Bookings.blocked_off?(date[2],session[:user_id]) == true)%>
        <div id='approved'><div id='space-img'></div> <%= date[0] %> <%= date[1] %>  - <span>Blocked Off</span> </div>
        <% elsif (approval_status == true)%>
        <div id='approved'><div id='space-img'></div> <%= date[0] %> <%= date[1] %>  - <span>Approved</span> </div>
        <% else %>
        <div id='disapproved'><div id='space-img'></div> <%= date[0] %> <%= date[1] %> - <span>Disapproved</span> </div>
      <% end %>
    <% end %>
  </div>
  
</body>
