<!DOCTYPE html>
<head>
  <title>List a space</title>
  <link rel="stylesheet" type="text/css" href="<%= url("/listing_form_style.css")%>">
  <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
</head>
<body>

  <div id='top-bar'>
    <div id='logo'>
    </div>
    <h1> MakersBnB </h1>
  </div>

  <nav> 
   <a href="/home" id='home'><i class="fas fa-home"></i> Home</a>
    <div class="nav-links">
      <a href="/update_booking">Update Space</a> |
      <a href="/check_request">Check Request</a> |
      <a href="/">Logout</a><i class="fas fa-user"></i>
    </div>
  </nav>

  <div class = "container">
    <h1>Please edit the listing below, or just leave it as it is!</h1>

    <form class ="listing_form" action="/listing_updated/<%= session[:space_id]%>" method="post">
      <input required type="text" name="Name" placeholder='<%= @space_name %>'/>
      <input required type="number" min='0' name="Price" placeholder="<%= @price %>" />
      <input required type="text" name="Description" placeholder="<%= @description %>"/>
      <input type="submit" value="Submit" />
    </form>
  </div>
</body>