
<!DOCTYPE html>
<head> 
  <link href="<%= url('/home.css') %>" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
</head>

<body>
  <%# header %>
  <div id='welcome'>
  <div id='logo'>
  </div>
    <h1>Welcome to MakersBnB</h1>
  </div>
  <%# navbar %>
  <nav> 
    <p id='home'><i class="fas fa-home"></i> Home</p>
    <div id="nav-links">
      <a href="/list_a_space">List a Space</a> |
      <a href="/check_request">Check Request</a> |
      <a href="/">Logout</a> |
      <p id='username'><i class="fas fa-user"></i><%= @username %> </p>
    </div>
  </nav>
  <%# main section %>
    <% @listings.each do |listing| %>

  <div id='space-container'>
    <img src="<%=@space_url%>" alt='space'>
      
      <div id='details-space'>
        <h4 d='name'><%= listing['name'] %></h4>
        <%# <span>Description:</span>  %>
        <div id='description'>
          <p><%= listing['description'] %></p>
        </div>
        <div id='price'>
         £<%= listing['price'] %> /night
        </div>
      </div>
      <form action='/booking/date_selection/<%= Updater.space_id(space: listing['name'])[0].to_i%>' method='get'>
      <input type="submit" value="Book Now" id='book-now'>
      </form>
    </div>
      <% end %>
</body>