<head>
  <title>Listing Updated </title>
  <link rel="stylesheet" type="text/css" href="<%= url("/listing_form_style.css")%>">
</head>

  <div id='top-bar'>
    <div id='logo'>
    </div>
    <h1> MakersBnB </h1>
  </div>

<body>

    <nav>
      <div class = "nav-list">
      <div><a href="/home">Home</a></div>
      <div><a href="/add_booking">Book a Space</a></div>
      <div><a href="/list_a_space">List a Space</a></div>
      <div><%= @username %></div>
      </div>
    </nav>

    <div class = "container">
    
      <h3>Listing Updated:</h3>

      <div id='space-container'>
          Name: <%= @space_name %>
          <br>
          Price: £<%= @price %>
          <br>
          Description: <%= @description %>
          <br>
       </div>
    </div>
</body>